// import bootstrap's scss
@import "~bootstrap/scss/bootstrap";
.parent-size {
  height:100%;
}
html,body {
  @extend .parent-size;
}

div#app {
  @extend .parent-size;
  > div.container-fluid {
    @extend .parent-size;
    > div.row {
      @extend .parent-size;
    }
  }
}
